@model IBCustomerSite.ViewModels.PasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PasswordChange">
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label">Enter your current password</label>
                <input type="password" asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawPassword" class="control-label">Enter new password</label>
                <input type="password" asp-for="RawPassword" class="form-control" />
                <span asp-validation-for="RawPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RawPasswordRepeat" class="control-label">Re-enter new password</label>
                <input type="password" asp-for="RawPasswordRepeat" class="form-control" />
                <span asp-validation-for="RawPasswordRepeat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="CustomerID" value=@Model.CustomerID />
                <input type="submit" asp-action="PasswordChange" value="Change Password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Customer" asp-action="Details">Back to Details</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
