@model IEnumerable<Account>

@{
    ViewData["Title"] = "Statements";
}
<h1>Select a statement</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="StatementIndexToView">
            <div class="form-group">
                <label class="control-label">Select Account</label>
                <select name="AccountNumber">
                    @foreach (var item in Model)
                    {
        <option asp-for="AccountNumber" value="@item.AccountNumber">@Html.DisplayFor(modelItem => item.AccountNumber) @item.AccountTypeName()</option>}

                </select>

            </div>

            <div class="form-group">
                <input type="submit" value="View Statement" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
